{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# Content displayed as a panel in the toolbar #}
        <span class='icon'>{{ include('@FlexModelBundle/Resources/svg/icon.svg') }}</span>
    {% endset %}

    {% set text %}
        {# Content displayed when hovering the mouse over the toolbar panel #}
        <div class='sf-toolbar-info-piece'>
            <b>Loaded objects</b>
            <span class='sf-toolbar-status'>{{ collector.objects|length }}</span>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}

{% block menu %}
    {# Left-hand menu in the full-screen profiler. #}
    <span class='label'>
        <span class='icon'>{{ include('@FlexModelBundle/Resources/svg/icon.svg') }}</span>
        <strong>FlexModel</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>FlexModel</h2>
    <h3>Loaded objects</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Fields</th>
        </tr>

        {% for object in collector.objects %}
        <tr>
            <td>{{ object.objectName }}</td>
            <td>{{ object.fieldNames|length }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
